.topHeader {
  max-height: 32px;
  padding: 10px 16px;
  background-color: #000000;
  color: #fff;

  @media screen and (min-width: 1280px) {
    padding: 10px 0;
  }

  &_container {
    font-weight: 600;
    line-height: 12px;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: scroll;
    white-space: nowrap;

    &::-webkit-scrollbar {
      display: none;
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }

  &_content {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &_icon {
    padding: 0 9px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_text {
    padding-right: 8px;
  }
}
