.mainContentWrapper {
  max-width: 1280px;
  padding-bottom: 80px;
  margin: 0 auto;

  @media screen and (min-width: 1280px) {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    max-width: 1280px;
  }
}

.newsContentWrapper {
  padding: 0 16px;

  @media screen and (min-width: 1280px) {
    padding: 0 24px;
  }
}

.contentWrapper {
  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    margin: 0 auto;
  }
}
