.categoryNews {
  padding-top: 40px;

  &_title {
    font-size: 36px;
    line-height: 38px;
    font-weight: 700;

    @media screen and (min-width: 1280px) {
      font-size: 48px;
      line-height: 53px;
    }
  }

  &_newsListSection {
    padding: 40px 0;
  }

  &_newsList {
    min-height: 560px;
  }
}

/* styles for ErrorPage  */
.errorPage {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 120px;
  min-height: 600px;

  @media screen and (min-width: 1280px) {
    min-height: 1079px;
  }
}
