.navbar {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;

  &_menu {
    display: inline-block;
    text-decoration: none;
    padding: 13px 24px;
    cursor: pointer;
    color: inherit;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
      transition: background-color 0.3s ease;
    }
  }

  &_menuActive {
    display: inline-block;
    text-decoration: none;
    padding: 13px 24px;
    cursor: pointer;
    color: #fff;
    background-color: #000;
  }
}
