.footer {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;

  &_container {
    padding: 40px 0;
  }

  &_contents {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    & span {
      font-size: 12px;
      line-height: 12px;
      font-weight: 500;
      padding-left: 16px;
    }
  }

  &_copyright {
    font-size: 12px;
  }
}
