.headline {
  padding: 40px 0;
  border-bottom: 1px solid #000;

  &_titleSection {
    & p {
      font-size: 14px;
      font-weight: 500;
      line-height: 14px;
    }
  }

  &_title {
    padding-top: 8px;
    max-width: 1230px;
    min-height: 60px;

    & p {
      min-height: 14px;
    }

    & h1 {
      display: -webkit-box;
      font-size: 28px;
      font-weight: 600;
      line-height: 31px;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    @media screen and (min-width: 1280px) {
      & h1 {
        font-size: 48px;
        font-weight: 600;
        line-height: 52.8px;
        min-height: 106px;
      }
    }
  }

  &_authorAndTimeSection {
    padding-top: 16px;
    font-weight: 500;
    line-height: 12px;
    font-size: 12px;
    color: #767676;
    min-height: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &_author {
    display: inline-block;
    padding-right: 8px;
  }
}
