.topLatestNewsSection {
  padding-bottom: 40px;

  &_news {
    flex: 1;

    @media screen and (min-width: 1280px) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 48px;
    }
  }

  &_newsListSection {
    padding-top: 40px;
    padding-bottom: 24px;

    @media screen and (min-width: 1280px) {
      padding-bottom: 0;
    }
  }

  &_newsList {
    @media screen and (min-width: 1280px) {
      min-height: 858px;
    }
  }
}
