.topLatestNewsSection {
  padding-bottom: 40px;

  &_news {
    // overflow: hidden;
    flex: 1;
    @media screen and (min-width: 1280px) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 48px;
    }
  }

  &_newsList {
    padding-top: 40px;
  }
}
